body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#ff7c03;
    --main-light-color:#ff8b1f;
    --container-color:#f8f7fc;
    --text-color:#1a1d22;
    --bg-color:#fff;
}
img{
    width: 100%;
}
body{
    color:var(--text-color);
}
header{
    display: block;
    position:fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color:white;

}
ul{
    list-style: none;
}
ul a{
    text-decoration:none
}
.cart a{
 text-decoration:none;
}
.nav-container{
    max-width: 938px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar{
    display:flex; 
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;  
}
.navbar a{
    margin: 21px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500; 
    font-weight: 700;
      font-family: sans-serif;
    
}
.logo img{
    width: 70px;
}
.navbar .active {
    color: var(--main-color);
} 
.nav-icon{
    display: flex;
    column-gap: 1rem;
}
.nav-icon i{
    font-size: 24px;
    color: #1a1d22;
    cursor: pointer;
}
.nav-icon i:hover{
    color: var(--main-color);
}
#menu-icon{
    display:none;
}
.cart{
    position: relative;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

.product {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.product .img{
    width: 100px;
    height: 100px;
}
.product img{
    width: 100px;
    height: 97px;
    bottom: -16px;
}
.product h2 {
    margin: 0;
}

.add-to-cart {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.cart {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}